<form
[formGroup]="form"
>
<h1>Dynamic Base Converter</h1>
<input type="text" name="decimal" (ngModelChange)="decimalChanged(oldValue,newValue=$event)" placeholder="Enter Decimal" class="main" formControlName="decimal" ><br>
	<input type="text" name="binary" (ngModelChange)="binaryChanged(oldValue,newValue=$event)" placeholder="Enter Binary" class="main" formControlName="binary"><br>
	<input type="text" name="octal" (ngModelChange)="octalChanged(oldValue,newValue=$event)"  placeholder="Enter Octal" class="main" formControlName="octal"><br>
	<input type="text" name="Hexa" (ngModelChange)="hexaChanged(oldValue,newValue=$event)"  placeholder="Enter Hexa" class="main" formControlName="hexa"><br>

</form>